{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



    {{ form_start(registrationForm) }}

    {{ form_label(registrationForm.nom) }} :<br>
    {{ form_widget(registrationForm.nom, {'attr': {class: 'form-control'} }) }}

    {{ form_label(registrationForm.prenom) }} :<br>
    {{ form_widget(registrationForm.prenom, {'attr': {class: 'form-control'} }) }}

    {{ form_label(registrationForm.email) }} :<br>
    {{ form_widget(registrationForm.email, {'attr': {class: 'form-control'} }) }}

{#    {{ form_label(registrationForm.photo) }} :<br>#}
{#    {{ form_widget(registrationForm.photo, {'attr': {class: 'form-control'} }) }} <p>(ca marche pas)</p>#}

    {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe :', 'attr': {class: 'form-control'} }) }}

    {{ form_row(registrationForm.agreeTerms, {label: 'Accepter les termes et conditions :', 'attr': {class: 'form-check'} }) }}


        <button type="submit" class="btn">Créer un compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
