{% extends 'base.html.twig' %}

{% block title %}Annuaire!{% endblock %}

{% block body %}

    <div class="col text-center">
        <h1>Annuaire Dawan Alumni</h1>
        <h5 class="deuxiemetexte">
        Bienvenue sur la page annuaire Dawan Alumni, ici retrouvez les entreprises qui  ont accueilli des anciens étudiants du réseau, avec lesquels vous pourrez prendre contact et échanger sur leur expériences en entreprise. 
        </h5>

        <p><h1 class="deuxiemetexte">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
    <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
        Carte</h1>
        </p>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.8103214176567!2d2.316389115902547!3d48.8427566097611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671ccb16540b5%3A0xb94e60afcc950426!2sDAWAN!5e0!3m2!1sfr!2sfr!4v1602682356511!5m2!1sfr!2sfr" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w-100 p-3 h-100">
        </iframe>
    </div>

    <div class="section mb-5" style="text-align:center;">
        <h2>Ils nous ont fait confiance</h2>
    </div>

    <div>
        <div class="row " style="text-align:center;">
            <div class="col-md-4">
                <img src="{{ asset('img/CIC.png') }}" class="photo w-50 p-3 h-75" alt="Logo CIC">
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/audi.png') }}" class="photo w-50 p-3 h-75" alt="Audi">
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/total.png') }}" class="photo w-50 p-3 h-75" alt="TOTAL">
            </div>
        </div>
    </div>

        <div>
            <div class="row " style="text-align:center">
                <div class="col-md-4">
                    <img src="{{ asset('img/paris.png') }}" class="photo w-50 p-3 h-75" alt="mairie de paris">
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('img/laposte.png') }}" class="photo w-50 p-3 h-75" style="width:170px" alt="laposte">
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('img/bnp.jpg') }}" class="photo w-50 p-3 h-75" alt="bnp">
                </div>
            </div>
        </div>
    {% endblock %}
