{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des Utilisateurs {% endblock %}

{% block body %}
    <h3>Nombre d'utilisateurs : {{ users | length }}</h3>

    <table class="table table-active table-hover">
      <thead class="thead-dark"><tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
            <th>Role</th>
        <th>Modifier role</th>
        <th>Supprimer </th></tr>

        {% for users in users %}
        <tr ></thead>
            <td >{{ users.nom }}</td>
            <td>{{ users.prenom }}</td>
            <td>{{ users.email }}</td>

            <td > {% for roles in users.roles%}
                    {% if roles == "ROLE_USER" %}
                    Utilisateur
                    {% elseif roles == "ROLE_MANAGER" %}
                        Manager
                    {% elseif roles == "ROLE_ADMIN" %}
                        Administrateur
                  {% endif %}
                {% endfor %}</td>
            <td ><a href="{{ path('adminedit_user',{'id': users.id } )}}">Modifier l'utilisateur</a></td>
            <td ><a href="{{ path('user_delete',{'id': users.id } )}}">Supprimer l'utilisateur</a></td>


        </tr>
        {% endfor %}
    </table>
{% endblock %}