{% extends 'base.html.twig' %}

{% block title %}Les commentaires{% endblock %}

{% block body %}
    <h1>Les commentaires</h1>
<br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Messages</th>
                <th>Date </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.message }}</td>
                <td>{{ commentaire.datecom ? commentaire.datecom|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-warning bouton">  <a href="{{ path('commentaire_show', {'id': commentaire.id}) }}">Aller sur le commentaire</a> </button>
                    <button type="button" class="btn btn-light bouton">    <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">Modifier le sujet</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
