{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>
<br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ commentaire.message }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ commentaire.author ? commentaire.author.user.prenom }}</td>
            </tr>
            <tr>
                <th>Créer le</th>
                <td>{{ commentaire.datecom ? commentaire.datecom|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <button type="button" class="btn btn-info bouton"> <a href="{{ path('commentaire_index', {'id': commentaire.id}) }}">Retour au sujet</a> </button>
    {% if is_granted('ROLE_ADMIN') %}
    <button type="button" class="btn btn-warning bouton"> <a href="{{ path('commentaire_index') }}">Retour à la liste des commentaires</a> </button>
    <button type="button" class="btn btn-secondary bouton">  <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">Modifier</a> </button>
     {% endif %}

{% endblock %}
