<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('img/logoalumni.png') }}" type="image/x-icon"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md" style="display: block;">

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <a href="{{ path('default') }}"><img src="{{ asset('img/logoalumni.png') }}" class="img-fluid" alt="" width="125px"></a>


        <ul class="navbar-nav basDroite">
            <li class="nav-item"><a class="nav-link" href="{{ path('default') }}">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('cours') }}">Cours</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('forum') }}">Forum</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('annuaire') }}">Annuaire</a></li>
            <li class="nav-item"><a class="nav-link" href="{{path('compte')}}">Mon compte</a></li>
        </ul>
            </div>
        </nav>
    </header>


        {% block body %}
        {% endblock %}
    <footer>
        {% block footer %}

        {% endblock %}
    </footer>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
