<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('img/logoalumni.png') }}" type="image/x-icon"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body id="containerID">

    {# NEW NAV #}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="box-sizing: content-box !important; padding-top: -1rem; padding-bottom: 1rem;">
        <a class="navbar-brand" href="{{ path('default') }}">
            <img src="{{ asset('img/logoalumni.png') }}" class="photo w-75 h-75">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-flex-end" id="navbarNav" >
            <ul class="navbar-nav navbar-light bg-dark" >

                                {% if is_granted('ROLE_ADMIN') %}<ul class="navbar-nav basGauche"><li class="nav-item"></li><a class="nav-link"  id="change" href="{{ path('admindefault') }}">Admin</a></ul> {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}<ul class="navbar-nav basDroite">


{#                    <input type="text" id="number" value="0" style="visibility: hidden"/>#}

                    <li class="nav-item"><button onclick="modeS()" value="Increment Value"  id="BTN1" class="btn btn-outline-light">Mode sombre</button></li>



                <li class="nav-item">
                    <a class="nav-link" id="change" href="{{ path('default') }}">Acceuil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="change" href="{{ path('cours') }}">Cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="change" href="{{ path('post_index') }}">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="change" href="{{ path('annuaire') }}">Annuaire</a>
                </li>
                   <li> <a class="nav-link" id="change" href="{{ path('user_edit',{'id': app.user.id}) }}">{{ app.user.prenom }} {{ app.user.nom }} </a></li>
                    <li><a class="nav-link" id="change" href="{{ path('user_edit',{'id': app.user.id}) }}"> <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" width="50px" style="border-radius: 15%"> </a></li>

                    <li class="nav-item" ><a class="nav-link " id="change" href="{{path('app_logout')}}">Se deconnecter</a></li>
                    {% else %}
                                    <li class="nav-item "><a class="nav-link" href="{{path('register')}}">Créer un compte</a></li>
                                    <li class="nav-item "><a class="nav-link" href="{{path('app_login')}}">Se connecter</a></li>
                                {% endif %}

                </li>
            </ul>
        </div>
    </nav>

{#                {% if is_granted('ROLE_ADMIN') %}<ul class="navbar-nav basGauche"><li class="nav-item"></li><a class="nav-link" href="{{ path('admindefault') }}">Admin</a></ul> {% endif %}#}
{#                {% if is_granted('IS_AUTHENTICATED_FULLY') %}<ul class="navbar-nav basDroite">#}
{#            <li class="nav-item"><a class="nav-link" href="{{ path('default') }}">Accueil</a></li>#}
{#            <li class="nav-item"><a class="nav-link" href="{{ path('cours') }}">Cours</a></li>#}
{#            <li class="nav-item"><a class="nav-link" href="{{ path('post_index') }}">Forum</a></li>#}
{#            <li class="nav-item"><a class="nav-link" href="{{ path('annuaire') }}">Annuaire</a></li>#}
{#                <li class="nav-item"><a class="nav-link" href="{{ path('user_edit',{'id': app.user.id}) }}">Modifier ses informations</a></li>#}

{#                <li class="nav-item"><a class="nav-link" href="{{path('app_logout')}}">Se deconnecter</a></li>#}
{#        {% else %}#}
{#                <li class="nav-item basDroite"><a class="nav-link" href="{{path('register')}}">Créer un compte</a></li>#}
{#                <li class="nav-item basDroite"><a class="nav-link" href="{{path('app_login')}}">Se connecter</a></li>#}
{#            {% endif %}#}
{#                </ul>#}
{#            </div>#}
{#        </nav>#}
{#    </header>#}

    <div class="container">
        {% block body %}
            {# BODY CONTENT #}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
            <div class="fixed-bottom">
                <footer class="footer1 bg-dark">
                    <p class="mb-0 text-center text-white"><a href="https://www.dawan.fr/" style="text-decoration: none; color: white;">Dawan Alumni</a>&copy;</p>
                </footer>
            </div>
        {% endblock %}
    </footer>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


           <script>
           //     function incrementValue() {
           //         var value = parseInt(document.getElementById('number').value, 0);
           //         value = isNaN(value) ? 0 : value;
           //         value++;
           //         document.getElementById('number').value = value;
           //
           //  if (value%2==1){
           //  window.onload=modeS()
           //  } else{
           //  }
           // }

           function modeS() {
               var element = document.getElementById("containerID");
               element.classList.toggle("dark_mode");
           }



           </script>
        {% endblock %}
    </body>
</html>
