{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Commentaire {% endblock %}

{% block body %}
    <h2>Ajouter un commentaire pour : {{ post.titre }}</h2>
<br>
    <section>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-warning bouton" value="Enregistrer">
        {{ form_end(form) }}

    </section>

{% endblock %}