{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}


{% block body %}
    <h1>Forum Dawan Alumni</h1>

    <h5 class="deuxiemetexte">Bienvenue dans notre Forum d'ancien étudiant ! Vous pouvez poser vos questions par rapport à l'organisme de
        formation Dawan et aux évènements liés à notre entreprise.</h5>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Champs</th>
                <th>Crée le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td> {{ post.id }} </td>
                <td> {{ post.titre }} </td>
                <td>{{ post.author ? post.author.user.prenom : 'nc' }} </td>
                <td>{{ post.champs }}</td>
                <td>{{ post.datepost ? post.datepost|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-warning bouton">  <a href="{{ path('post_show', {'id': post.id}) }}">Aller sur le sujet</a> </button>

                    <button type="button" class="btn btn-light bouton">  <a href="{{ path('post_edit', {'id': post.id}) }}">Modifier le sujet</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-warning bouton"><a href="{{ path('post_new') }}">Nouveau sujet de discussion</a></button>
{% endblock %}
