{% extends 'base.html.twig' %}

{% block title %}Le sujet{% endblock %}

{% block body %}
    <h1>

        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
            <path fill-rule="evenodd" d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
        </svg>


        Sujet</h1>
<br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td> {{ post.author ? post.author.user.prenom : 'nc' }} </td>
            </tr>
            <tr>
                <th>Champs</th>
                <td>{{ post.champs }}</td>
            </tr>
            <tr>
                <th>Datepost</th>
                <td>{{ post.datepost ? post.datepost|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Commentaires</h2><br>

    {% for commentaire in commentaires %}
        <tr>
            <div class="alert alert-dark" role="alert">
                {% if is_granted('ROLE_ADMIN') %}
            <td>{{ commentaire.id }}</td><hr>
                {% endif %}
            <td>{{ commentaire.message }}</td> <hr>
            <td> (par <strong> {{ commentaire.author.user.prenom }} </strong> le {{ commentaire.datecom ? commentaire.datecom|date('Y-m-d H:i:s') : '' }})</td>
            <td>
                {% if is_granted('ROLE_ADMIN') or is_granted('DELETE', post) %}
                <button type="button" class="btn btn-warning bouton"> <a href="{{ path('commentaire_show', {'id': commentaire.id}) }}">Aller sur le commentaire</a> </button>
                <button type="button" class="btn btn-light bouton"> <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">Modifier</a> </button>
                {% endif %}
            </td>

            </div>
        </tr>
    {% else %}
        <tr>
            <div class="alert alert-warning" role="alert">
            <td colspan="4">Pas de commentaire pour l'instant</td>
            </div>
        </tr>
    {% endfor %}

<br><br><br>
<div style="padding-bottom: 100px">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

<button type="button" class="btn btn-primary bouton">
    <a href="{{ path('post_add_commentaire', {'id': post.id}) }}">Ajouter un commentaire</a>
</button>
      {% endif %}
    <button type="button" class="btn btn-warning bouton"> <a href="{{ path('post_index') }}">Retour à la liste des sujets</a> </button>
      {% if is_granted('EDIT', post) %}
    <button type="button" class="btn btn-secondary bouton"> <a href="{{ path('post_edit', {'id': post.id}) }}">Editer</a> </button>
      {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('DELETE', post) %}
    <button type="button" class="btn btn-danger bouton"> {{ include('post/_delete_form.html.twig') }}</button>
     {% endif %}</div>
{% endblock %}
