{{ form_start(form) }}

    {{ form_label(form.nom) }} :<br>
    {{ form_widget(form.nom, {'attr': {class: 'form-control'} }) }}
    {{ form_label(form.prenom) }} :<br>
    {{ form_widget(form.prenom, {'attr': {class: 'form-control'} }) }}
    {{ form_label(form.email) }} :<br>
    {{ form_widget(form.email, {'attr': {class: 'form-control'} }) }}
    {{ form_label(form.photo) }} : (ca marche pas, si tu mets une photo ca empeche la modification des informations)<br>
    {{ form_widget(form.photo, {'attr': {class: 'form-control'} }) }}




    <button class="btn">{{ button_label|default('Modifier') }}</button>




{{ form_end(form) }}
